n8n-workflows/auto-posting.json
{
  "name": "Daily Auto Post - Instagram & Facebook",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 3 * * *"
            }
          ]
        }
      },
      "id": "a3000001-0000-0000-0000-000000000001",
      "name": "Schedule - 9 AM IST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"model\": \"claude-opus-4-7\",\n  \"max_tokens\": 512,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Aaj ka Chaldean Numerology tip Hindi mein likho. 150 words se zyada nahi. Inspiring aur practical hona chahiye. Instagram post ke liye suitable hona chahiye. Emojis use karo. Sirf post content likho, koi explanation nahi.\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000002",
      "name": "Claude - Generate Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const response = $input.first().json;\nconst postText = response.content[0].text;\nconst today = new Date().toLocaleDateString('hi-IN', { day: 'numeric', month: 'long', year: 'numeric' });\nconst caption = `${postText}\\n\\n📞 Apna numerology report order karein: https://ai-empire-os-two.vercel.app\\n\\n#Numerology #ChaldeanNumerology #Astrology #Hindi #Jyotish #NumerologyTips`;\nreturn [{ json: { post_text: postText, caption: caption, date: today } }];"
      },
      "id": "a3000001-0000-0000-0000-000000000003",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"image_url\": \"https://YOUR_STATIC_IMAGE_URL\",\n  \"caption\": {{ JSON.stringify($json.caption) }},\n  \"access_token\": \"YOUR_META_PAGE_ACCESS_TOKEN\"\n}",
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000004",
      "name": "Instagram - Create Media Container",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_IG_USER_ID/media_publish",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"creation_id\": \"{{ $json.id }}\",\n  \"access_token\": \"YOUR_META_PAGE_ACCESS_TOKEN\"\n}",
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000005",
      "name": "Instagram - Publish Post",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1280, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/YOUR_FB_PAGE_ID/feed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": {{ JSON.stringify($('Parse Claude Response').item.json.caption) }},\n  \"access_token\": \"YOUR_META_PAGE_ACCESS_TOKEN\"\n}",
        "options": {}
      },
      "id": "a3000001-0000-0000-0000-000000000006",
      "name": "Facebook - Post to Page",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1020, 420]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule - 9 AM IST": {
      "main": [
        [
          {
            "node": "Claude - Generate Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude - Generate Content": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Instagram - Create Media Container",
            "type": "main",
            "index": 0
          },
          {
            "node": "Facebook - Post to Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Instagram - Create Media Container": {
      "main": [
        [
          {
            "node": "Instagram - Publish Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a3000001-0000-0000-0000-000000000000",
  "meta": {
    "instanceId": "wealthwave-auto-posting"
  },
  "id": "wealthwave-auto-posting-v1",
  "tags": [
    {
      "name": "wealthwave"
    },
    {
      "name": "social-media"
    },
    {
      "name": "automation"
    }
  ]
}
